$white:white;
$sky:#7ec1ff;
$black:black;
$black_1:#2c2b2b;
$black_2:#232323;
$red:rgb(220, 73, 85);
$red_1:#fceced;
$yellow:#f8b334;
$green:#7cc576;
$gray:#eeeeee;
$gray_1:#f9f9f9;
$gray_2:#d9d9d9;
$gray_3:#00000073;
$gray_4:#bfbfbf;
$gray_5:#64748b;
$boxShadow:0px 5px 19px 1px #240b0c26;
