@import "../../../common/style";

.womensCollection {
  @include background-image($image: "bg-woman.jpg");
  text-align: center;
  padding: 80px 0;
  p {
    font-size: 24px;
    line-height: 26px;
    color: $black_2;
    font-weight: 200;
    text-transform: capitalize;
  }
  .centerText {
    padding-bottom: 0;
    p{
      color: $black;
    background-color: inherit;
    }
  }
}
