.products {
  text-align: center;
  .not-found {
    p {
      margin-bottom: 8px;
      margin-top: 24px;
      font-weight: 600;
      font-size: 17px;
    }
    span{
        font-size: 16px;
    }
  }
}
.ant-row {
  justify-content: center;
}
