@import "../../common/style";

.oneProduct {
  padding-top: 30px;
  margin: auto;
  margin-top: 40px;

  width: 70%;
  padding: 30px 20px;
  border-radius: 15px;
  margin-bottom: 37px;
  & {
    @media (max-width: 900px) {
      width: auto;
    }
  }

  .styleImg {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 44px;
    .imagesOfProduct {
      img {
        height: 53px;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: $boxShadow;
        display: block;
        width: 70px;
        cursor: pointer;
      }
    }
    .mainImg {
      width: 230px;
      height: 225px;
    }
  }

  .description {
    padding-top: 10px;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
  }

  .category {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
  }
  .stock {
    margin-left: 22px;
    text-transform: capitalize;
    color: $green;
    font-weight: 800;
  }
}
