@import "../../../common/style";



.cart {
  .custom-button button {
    width: 100%;
    margin-top: 25px;
  }
}

.totalPrice {
  @include flex($display: flex, $justify: space-between);
  padding-top: 18px;
  label:nth-of-type(1) {
    font-size: 17px;
  }
  label:nth-of-type(2) {
    font-size: 18px;
    font-weight: 700;
  }
}
