@import "../../common/style";
.darkCollapse {
  .ant-collapse-item {
    background-color: $black_2 !important;
    .ant-collapse-header {
      color: $white;
    }
    .ant-collapse-content-box {
      background-color: $black_1 !important;
      .ant-radio-wrapper {
        color: $white;
      }
    }
  }
}

.filter {
  padding-bottom: 25px;
  @media (max-width: 832px){
    .ant-collapse-content-box {
      display: flex;
    }
  }
 
  .ant-collapse {
    border-radius: 10px;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .break {
    padding: 0 7px;
    font-weight: 900;
  }
  button {
   width: 100%;
  }
  .ant-btn:focus {
    color: $red;
    border-color: $red;
    background: $white;
  }
}
.ant-radio-group {
  display: inline-grid;
}
