.active {

  color: $red;
  border-radius: 50px;
}

.paddingTop {
  padding-top: 152px;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:hover {
  border-color: $gray_3 !important;
  box-shadow: none !important;
  border-right-width: 1px;
  outline: 0;
}
.ant-btn:hover {
  color: $red;
  border-color: $red;
  background: $gray_1;
}

.ant-radio-checked .ant-radio-inner {
  border-color: $red !important;
}
.ant-radio-inner:after {
  background-color: $red;
}


.outlined,
.filled,
.on,
.off {
  color: $yellow;
  font-size: 19px;
}



.fa-cart-shopping {
  @extend .active;
  color: $black;
}

.discountedPrice {
  font-size: 21px;
  font-weight: 600;
  padding-top: 10px;
}
.originalPrice p {
  font-size: 18px;
  color: $gray_5;
  text-decoration: line-through;
  display: inline-block;
}
.discountPercentage {
  color: $red;
  font-size: 12px;
  font-weight: 800;
  background: $red_1;
  border-radius: 6px;
  margin: 0px 8px;
  padding: 4px 8px;
}