@import "../../common/style";

.carousel {
  height: 600px;
  p {
    @include text-transform($transform: uppercase);
  }
}

.firstSlide {
  @include background-image($image: "bg1.jpg");
  .right-text {
    @extend .paddingTop;
    p {
      font-size: 23px;
      .ratio {
        color: $red;
      }
    }
    p:nth-of-type(1) {
      @include text-transform($transform: capitalize);
    }
    p:nth-of-type(2) {
      letter-spacing: 10px;
      font-weight: 600;
      font-size: 90px;
      height: 39px;
      margin-top: -43px;
    }
    p:nth-of-type(3) {
      font-size: 30px;
    }
  }
}

.secondSlide {
  @include background-image($image: "slider-bg-5.jpg");
  @extend .paddingTop;
  p {
    color: $white;
  }
  p:nth-of-type(1),
  p:nth-of-type(3) {
    font-size: 24px;
  }
}
